nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-right: 30px;
    
}
.nav-links li a {
    text-decoration: none;
    color:rgb(62, 28, 95);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:20px;
}
nav img {
    padding-left: 30px;
}
div{
    background: linear-gradient(to bottom,#938fd1  0%, #bbacb5 100%);
    width: auto;
    height: 650px;
}
.P1 {
    font-size:  60px;
    color: white;
    padding-top: 150px;
    padding-left: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.P2 {
    font-size: 30px;
    color: white;
    padding-left: 60px; 
}
button {
    display: inline-block;
    background-color: #eede02; 
    border: none;
    color: rgb(120, 185, 118);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin:  2px;
    margin-left: 90px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
width: 200px;
height: 70px;
box-sizing: border-box;
text-align-last: center;
div img {
    float:right;
}